.loginCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
  max-width: 400px;
  transition: height 0.5s;

  img {
    margin-top: -200px;
    width: 100%;
  }
}

.centerAligned {
  align-items: center;
}
