.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.header {
  box-sizing: border-box;
  display: flex;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 1;

  .headerCenter,
  .headerEnd {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .headerCenter {
    flex-grow: 1;
  }

  img {
    height: 100%;
  }
}