@import 'Constants';

html {
  font-size: 20px;
}

.app {
  align-items: center;
  background-color: $color-app-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  border-radius: 50px;
}