{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSameLine": true,
  "semi": true,
  "endOfLine": "crlf",
  "importOrder": [
    "^(configs|controllers|middlewares|models|repositories|routes|services|types|utils)/?(.*)$",
    "^[../]",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
